@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src:
    url('../src/assets/fonts/brownpro-bold.otf') format('woff2 supports variations'),
    url('../src/assets/fonts/brownpro-bold.otf') format('woff2 supports variations');
  font-weight: 100 900;
}

html {
  font-family: 'Inter', sans-serif;
  scrollbar-gutter: stable;
}

body {
  background: #f9f8f8;
}

/* Begin customize color of Antd steps */
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #44c5e5 !important;
}

.ant-steps-item-finish .ant-steps-icon > span > svg {
  color: #44c5e5;
}

.ant-steps-item-process .ant-steps-icon > span > svg {
  color: #44c5e5;
}

.ant-steps-item-active .ant-steps-item-title {
  color: #44c5e5 !important; /* Replace with your desired color */
}

.ant-steps-item-finish .ant-steps-item-title {
  color: #44c5e5 !important; /* Replace with your desired color */
}


/* src/components/Arrow.css (hoặc index.css nếu muốn sử dụng toàn cục) */
.arrow-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease;
  }
  
  .arrow:hover {
    animation: moveLeft 1s forwards;
  }
  
  @keyframes moveLeft {
    0% {
      left: 50%;
    }
    100% {
      left: 10%;
    }
  }
  

